<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <!-- head section/ navbar -->
    {{>headNavbar}}
    <!-- main header -->
    {<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left align-item-center">
                        {{!-- <figure>
                            <img src="../../public/images/img2.jpg" alt="oneLife" class="img-fluid" title="kuch v"> 
                        </figure> --}}
                        <p>Check Todays Weather</p>
                        <h1>{{errmsg}}</h1>
                        <button href="/">GO Back</button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
}
</body>
<footer>
    <p>Created with ❤ by Ashim</p>
</footer>

</html>