<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <!-- head section/ navbar -->
    {{>headNavbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div --><div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="https://images.unsplash.com/photo-1506452819137-0422416856b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="oneLife" class="img-fluid" title="kuch v"> 
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am a <span class="text_clr">Developer</span></h1>
                        {{!-- <button type="button" href="/weather" onclick="/weather">  Check Now</button> --}}
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>
</html>