<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <!-- head section/ navbar -->
    {{>headNavbar}}

    <!-- main header -->
    {{>mainHeader}}

{{>footer}}
</body>

</html>